<body>

    <section id="parent-section">
        <section>
            <div class="row" id="top-back-btn">
                <div class="col">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
            </div>
        </section>

        <section>
            <div class="row" id="main-img-row">
                <div class="col">
                    <img src="/assets/teacher.png" alt="">
                </div>
            </div>
        </section>

        <section>
            <div class="row" id="teacher-info-row">
                <div class="col" id="teacher-info-col">
                    <h2>Teacher</h2>
                    <abbr>Stefan Garlson</abbr>
                    <p>stefan123@gmail.com</p>
                </div>
                <div class="col" id="teacher-btn-col">
                    <!-- <button class="btn"><i class="fa fa-plus"></i></button> -->
                </div>
            </div>
        </section>

        <section>
            <div class="row" id="teacher-details-row">
                <div class="col" id="teacher-details-col-1">
                    <h2>Father name</h2>
                    <p>Ibn-e-Batoota</p>
                </div>
                <div class="col" id="teacher-details-col-2">
                    <h2>Contact #</h2>
                    <p>+51 00 00 00</p>
                </div>
                <div class="col" id="teacher-details-col-3">
                    <h2>Teacher xyz</h2>
                    <p>Saqib Rasheed Bawa</p>
                </div>
                <div class="col" id="teacher-details-col-4">
                    <h2>Social Links</h2>
                    <div class="col">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section id="footer-btn-section">
        <div class="row" id="footer-btn-row">
            <div class="col" id="footer-btn-col">
                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
                    aria-controls="offcanvasTop">View Gaurdain
                    <i class="fa fa-angle-down"></i>
                </button>
            </div>
        </div>
    </section>
</body>
<!-- </body> -->