<body>
    <!-- header back btn section -->
    <section>
        <div class="row" id="back-btn-row">
            <div class="col" id="back-btn-col">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </div>
        </div>
    </section>


    <!-- hero section start  -->
    <section id="hero-section">
        <div class="row" id="hero-row">
            <div class="col" id="hero-col-1">
                <div class="col" id="info-col">
                    <i class="fa fa-info-circle" aria-hidden="true" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"></i>
                </div>
                <div class="col">
                    <h2>Class-Name</h2>
                <p>B-Praak   <i class="fa fa-edit" aria-hidden="true"></i></p>
                </div>
            </div>
            <div class="col" id="hero-col-2">
                <img src="/assets/boy.png" alt="">
            </div>
        </div>
    </section>





      
      <!-- Supervisor data offcanvas start here -->
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
      aria-labelledby="offcanvasExampleLabel">
      <!-- offcanvas header start-->
      <div class="offcanvas-body" id="teacher-offcanvas-body">
          <div class="supervisor-offcanvas-header">

              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                  aria-label="Close">
              </button>
          </div>
          <div class="row" id="teacher-offcanvas-row">
              <div class="col">
                  <img src="/assets/bussiness-man.png" alt="">
              </div>
          </div>
      </div> <!-- offcanvas header ends-->

      <!-- offcanvas name details start -->
      <div class="row" id="offcanvas-hero">
          <div class="col" id="offcanves-name-col">

              <h5 class="offcanvas-title" id="offcanvas-header">Teacher</h5>
              <h2>Stefan Garlson</h2>
              <p>Stefan123@gmail.com
              </p>
          </div>
          <div class="col" id="offcanves-edit-col">
              <div class="col">
                  <i class="fa fa-user-pen"></i>
              </div>
          </div>
      </div> <!-- offcanvas name details start -->

      <div class="row" id="offcanvas-main">
          <div class="col">
              <h3>Father name</h3>
              <p>Harnandaz</p>
          </div>
          <div class="col">
              <h3>Contact #</h3>
              <p>+51 000 000</p>
          </div>
          <div class="col">
              <h3>Supervising</h3>
              <p>Branch A</p>
          </div>
          <div class="col">
              <h3>Socials</h3>
              <p>
                  <i class="fa-brands fa-instagram"></i>
                  <i class="fa-brands fa-twitter"></i>
                  <i class="fa-brands fa-facebook-f"></i>
              </p>
          </div>
      </div>

  </div> <!-- Supervisor data offcanvas start here -->
























    <!-- main section start here -->
    <section id="main-section">
        <!-- student heading row -->

        <div class="row" id="student-heading-row">
            <div class="col" id="student-heading-col">
                <h1>Student heading</h1>
            </div>
        </div>

        <!-- sort by button row  -->

        <div class="row" id="sort-btn-row">
            <div class="col" id="sort-btn-col-1">
                <button class="btn">sort by</button>
            </div>
            <div class="col" id="sort-btn-col-2">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div>

        <!-- student list row -->

        <main id="student-list-parent-row">

            <div class="row" id="student-list-row">
                <div class="col" id="student-list-col-1">
                    <h1>Student A</h1>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="col" id="student-list-col-2">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
            </div>


            <div class="row" id="student-list-row">
                <div class="col" id="student-list-col-1">
                    <h1>Student A</h1>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="col" id="student-list-col-2">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
            </div>


            <div class="row" id="student-list-row">
                <div class="col" id="student-list-col-1">
                    <h1>Student A</h1>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="col" id="student-list-col-2">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row" id="student-list-row">
                <div class="col" id="student-list-col-1">
                    <h1>Student A</h1>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="col" id="student-list-col-2">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row" id="student-list-row">
                <div class="col" id="student-list-col-1">
                    <h1>Student A</h1>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="col" id="student-list-col-2">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row" id="student-list-row">
                <div class="col" id="student-list-col-1">
                    <h1>Student A</h1>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="col" id="student-list-col-2">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
            </div>

        </main>
    </section>
</body>