@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  overflow: hidden;
}
:host {
  --color-1: #bc9c00;
  --color: #586e6b;
  --background: #fff;
  --box-color: #daf1d0;
}
body {
  background: linear-gradient(to top, var(--box-color) 0%, #d0efc0 100%);
  height: 100vh;
}
/* Top back btn section styling start here */
#back-btn-row {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
#back-btn-col i {
  font-size: 20px;
}

/* Hero section styling start here */
#hero-section {
  position: relative;
  top: 30px;
}
#hero-row {
  height: 20vh;
}
#hero-col-1 {
  display: grid;
  justify-content: center;
  align-content: center;
  row-gap: 10px;
  text-align: center;
  border-radius: 0px 86px 89px 0;
  background: var(--color);
}
#hero-col-1 h2 {
  color: var(--box-color);
  font-size: 25px;
  font-weight: 500;
}
#hero-col-1 p {
  color: var(--color-1);
  font-size: 16px;
  font-weight: 500;
}
#info-col{
    display: grid;
    justify-content: flex-end;
    color: var(--color-1);
}
#hero-col-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
#hero-col-2 img {
  width: 42vw;
  height: 16vh;
}

/* main section styling start here  */
#main-section {
  position: relative;
  top: 41px;
  height: 70%;
}
/* student heading styling */
#student-heading-row {
  padding: 17px;
}
#student-heading-col {
  max-width: fit-content;
}
#student-heading-col h1 {
  color: var(--color-1);
  font-size: 25px;
  font-weight: 200;
}

/* sort by button styling */
#sort-btn-col-1 {
  padding: 10px;
}
#sort-btn-col-1 button {
  width: 20vw;
  height: 4vh;
  background-color: var(--color-1);
  color: var(--box-color);
  font-weight: 300;
}
#sort-btn-col-2 {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: center;
}

/* student list styling start here  */
#student-list-parent-row {
  height: 90%;
  overflow: scroll;
}
#student-list-row {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 10px;
}
#student-list-col-1 {
  padding: 10px;
  border-radius: 17px 0px 0px 17px;
  background-color: rgb(199 219 171);
  color: var(--color);
  padding: 19px;
}
#student-list-col-1 h1 {
  font-size: 20px;
  font-weight: 500;
}
#student-list-col-1 p {
  font-size: 15px;
  font-weight: 300;
}
#student-list-col-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 0px 17px 17px 0px;
  background-color: rgb(199 219 171);
  color: var(--color);
}










/* Supervisor offcanvas styling start here */
.supervisor-offcanvas-header {
  display: flex;
  height: 4vh;
}
.offcanvas-title {
  font-size: 16px;
  font-weight: 100;
  color: #82a048;
}
.supervisor-offcanvas-header button {
  position: absolute;
  right: 17px;
  top: 17px;
  font-size: 20px;
  border: none;
}
#teacher-offcanvas-row {
  background-color: #c9dfc0;
  position: absolute;
  top: 46px;
  left: 14px;
  right: 15px;
  z-index: -1;
}
#teacher-offcanvas-row .col {
  display: flex;
  justify-content: center;
  align-content: center;
}
#teacher-offcanvas-row img {
  width: 387px;
}

/* offcanvas Hero row styling  */
.offcanvas-start {
  background-color: #c9dfc0;
}
#offcanvas-hero {
  position: absolute;
  top: 462px;
  left: 34px;
  width: 100%;
}
#offcanves-name-col p {
  color: #db7b1b;
  font-style: italic;
}
#offcanvas-hero h2 {
  font-size: 20px;
  color: #82a048;
}
#offcanves-edit-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
#offcanves-edit-col .col {
  max-width: 22%;
  border-radius: 22px;
  height: 5vh;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #f6f1f1;
  background-color: #799f69;
}
#offcanvas-main {
  position: absolute;
  top: 579px;
  left: 37px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1em;
  column-gap: 6rem;
}
#offcanvas-main h3 {
  color: #4c6912;
  font-weight: 200;
  font-size: 20px;
}
#offcanvas-main p {
  text-decoration: underline;
  color: #82a048;
}
#offcanvas-main .col i {
  padding-left: 10px;
}
