<body>

    <section id="parent-section">
        <section>
            <div class="row" id="top-back-btn">
                <div class="col">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
            </div>
        </section>

        <section>
            <div class="row" id="main-img-row">
                <div class="col">
                    <img src="/assets/student.png" alt="">
                </div>
            </div>
        </section>

        <section>
            <div class="row" id="teacher-info-row">
                <div class="col" id="teacher-info-col">
                    <h2>Student</h2>
                    <abbr>Johnson Doe</abbr>
                    <p>Roll # 1234</p>
                </div>
                <div class="col" id="teacher-btn-col">
                    <button class="btn"><i class="fa-solid fa-phone-flip"></i></button>
                </div>
            </div>
        </section>

        <section>
            <div class="row" id="teacher-details-row">
                <div class="col" id="teacher-details-col-1">
                    <h2>Father name</h2>
                    <p>Ibn-e-Batoota</p>
                </div>
                <div class="col" id="teacher-details-col-2">
                    <h2>Contact #</h2>
                    <p>+51 00 00 00</p>
                </div>
                <div class="col" id="teacher-details-col-3">
                    <h2>Registration #</h2>
                    <p>88 99 00 11 55</p>
                </div>
                <div class="col" id="teacher-details-col-4">
                    <h2>Address</h2>
                    <p>Lane # 123 xyz New York</p>
                </div>
            </div>
        </section>


        <section>
            <div class="row" id="footer-btn-row">
                <div class="col" id="footer-btn-col">
                    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
                        aria-controls="offcanvasTop">View Gaurdain
                        <i class="fa fa-angle-down"></i>
                    </button>
                </div>
            </div>
            <!-- Offcanvas for Gaurdain data start here -->
            <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">
                    <!-- <h5 id="offcanvasTopLabel">Offcanvas top</h5> -->
                    <button id="btn-close" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">
                    <section id="profile-section">
                        <div class="row" id="profile-img-row">
                            <div class="col" id="profile-img-col-1">
                                <img src="/assets/headmaster.png" alt="">
                            </div>
                            <div class="col" id="profile-img-col-2">
                                <h1>Gaurdain A</h1>
                            </div>
                            <hr id="hr">
                        </div>
                    </section>

                    <section id="Guardain-detail-section">
                        <div class="row" id="Guardain-detail-row">
                            <div class="col" id="Guardain-detail-col-1">
                                <div class="col">
                                    <h1>Father's Name</h1>
                                    <p>Tupac Shakur</p>
                                </div>
                            </div>
                            <div class="col" id="Guardain-detail-col-2">
                                <div class="col">
                                    <h1>Contact #</h1>
                                    <p>+51 00 21 00 33</p>
                                </div>
                            </div>
                            <div class="col" id="Guardain-detail-col-3">
                                <div class="col">
                                    <h1>Address</h1>
                                    <p>43 Stonepot Road, Teterboro, New Jersey</p>
                                </div>
                            </div>
                            <div class="col" id="Guardain-detail-col-4">
                                <div class="col">
                                    <h1>CNIC #</h1>
                                    <p>41303-4270422-4 </p>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- footer img section start here -->
                    <section id="footer-img-section">
                        <div class="row" id="footer-img-row">
                            <div class="col">
                                <img src="/assets/home2_Flower.png" alt="">
                            </div>
                        </div>
                    </section>
                    <!-- footer img section start here -->
                </div>
            </div>
            <!-- Offcanvas for Gaurdain data ends here -->
        </section>
    </section>
</body>
