
<body>
    <div class="img-container">
        <img src="/assets/pngegg.png" alt="">
    </div>
    
    <!-- Heading section start here -->
    <section id="heading-section">
        <div class="row" id="heading-row">
            <div class="col">
                <h1>Log In</h1>
                <p>Log In here to Continue</p>
            </div>
        </div>
    </section>

    <!-- main feilds section start here -->
    <section id="main-field">
        <div class="row" id="main-field-row">
            <div class="col" id="main-field-col-1">
                <label for="">User name</label>
                <input type="email" name="" id="">
            </div>
            <div class="col" id="main-field-col-2">
                <label for="">Password</label>
                <input type="password" name="" id="">
            </div>
        </div>
    </section>


    <!--  sign in button section start here -->
    <section id="btn-section">
        <div class="row" id="login-btn-row">
            <div class="col" id="login-col-1">
                <button class="btn">Cancel</button>
            </div>
            <div class="col" id="login-col-2">
                <button class="btn">Log-In</button>
            </div>
        </div>
    </section>

    <!-- already hava an account section start here -->
    <section id="footer-line-section">
        <div class="row" id="footer-line-row">
            <div class="col">
                <p>Don't have an account? </p>
            </div>
        </div>
    </section>

</body>
