<!-- Offcanvas for Gaurdain data start here -->
<div class="offcanva">
    <div class="offcanva-header">
        <div class="row" id="header-row">
            <div class="col" id="header-col-1">
                <h5 id="">Your Classes</h5>
            </div>
            <div class="col" id="header-col-2">
            </div>
        </div>
    </div>

    <div class="main-body">
        <div class="row" id="offcanva-main-row">
            <div class="col" id="offcanva-main-col-1">
                <h2>Total Classes : 10</h2>
            </div>
            <div class="col" id="offcanva-main-col-2" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
        </div>

        <!-- plus button to top offcanvas start here -->
        <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
            <div class="offcanvas-header">
                <div class="row" id="close-btn-row">
                    <div class="col" id="close-btn-col">
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close">
                        </button>
                    </div>
                </div>
            </div>
            <div class="offcanvas-body">
                <!-- hero section -->
                <div class="row" id="offcanvas-hero-row">
                    <div class="col" id="offcanvas-hero-col">
                        <h2>Add New Class</h2>
                    </div>
                </div>

                <!-- main inputs section -->
                <div class="row" id="offcanvas-main-row">
                    <div class="col" id="offcanvas-main-col-1">
                        <label>Class-Name <input type="text" /></label>
                    </div>
                    <div class="col" id="offcanvas-main-col-2">
                        <label><input type="text" />Class-Time </label>
                    </div>
                    <div class="col" id="offcanvas-main-col-3">
                        <button class="btn">Add Class</button>
                    </div>
                </div>
            </div>
        </div>








        <!-- offcanvas main section start here -->
        <section id="main-section-parent">
            <!-- offcanvas main section sort button start here -->
            <div class="row" id="main-sec-top-row">
                <div class="col" id="main-sec-top-col-1">
                    <button class="btn">Sort by</button>
                </div>
                <div class="col" id="main-sec-top-col-2">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>

            <!-- main section list start here -->
            <div class="row" id="main-list-row">
                <div class="col" id="list-parent-col">
                    <div class="row" id="list-row">
                        <div class="col" id="list-inner-col">
                            <h1>Branch A</h1>
                            <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                        <div class="col" id="main-list-icon-col">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="row" id="list-row">
                        <div class="col" id="list-inner-col">
                            <h1>Branch A</h1>
                            <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                        <div class="col" id="main-list-icon-col">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="row" id="list-row">
                        <div class="col" id="list-inner-col">
                            <h1>Branch A</h1>
                            <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                        <div class="col" id="main-list-icon-col">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="row" id="list-row">
                        <div class="col" id="list-inner-col">
                            <h1>Branch A</h1>
                            <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                        <div class="col" id="main-list-icon-col">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="row" id="list-row">
                        <div class="col" id="list-inner-col">
                            <h1>Branch A</h1>
                            <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                        <div class="col" id="main-list-icon-col">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="row" id="list-row">
                        <div class="col" id="list-inner-col">
                            <h1>Branch A</h1>
                            <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                        <div class="col" id="main-list-icon-col">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="row" id="list-row">
                        <div class="col" id="list-inner-col">
                            <h1>Branch A</h1>
                            <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                        <div class="col" id="main-list-icon-col">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>
<!-- Offcanvas for Gaurdain data ends here -->