<body>


    <div class="row" id="teacher-offcanvas-row">
        <div class="col">
            <img src="/assets/bussiness-man.png" alt="">
        </div>
    </div>
    <!-- offcanvas header ends-->

    <!-- offcanvas name details start -->
    <section id="name-section">
        <div class="row" id="name-section-row">
            <div class="col" id="name-section-col-1">
                <h3>Supervisor</h3>
                <strong>Stefan Garleson</strong>
                <p>Stefan-bawa@hotmail.com</p>
            </div>
            <div class="col" id="name-section-col-2">
                <i class="fa-solid fa-pen-nib" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                    aria-controls="offcanvasRight"></i>
            </div>

            <!-- edit button offcanva start  -->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                aria-labelledby="offcanvasRightLabel">
                
                <div class="offcanvas-body">
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                    <!-- Header section start here -->
                    <section id="header-heading-sec">
                        <div class="row" id="header-heading-row">
                            <div class="col">
                                <h1>Edit Branch Data</h1>
                            </div>
                        </div>
                    </section>

                    <!-- input-field section start here -->
                    <section id="input-field-section">
                        <form action="">
                            <div class="row" id="input-field-row">
                                <div class="col" id="name-col">
                                    <p>Branch name</p>
                                    <input type="text">
                                </div>
                                <div class="col" id="name-col">
                                    <p>Brampton</p>
                                    <input type="text">
                                </div>
                                <div class="col" id="address-col">
                                    <p>352 Circle Ave.
                                        Long Branch, NJ 07740</p>
                                    <input type="text">
                                </div>
                                <div class="col" id="city-col">
                                    <p>Nijerea</p>
                                    <input type="text">
                                </div>
                                <div class="col" id="contact-col">
                                    <p>Contact</p>
                                    <input type="text">
                                </div>
                            </div>
                        </form>
                    </section>

                    <section id="footer-btn-section">
                        <div class="row" id="footer-btn-row">
                            <div class="col" id="footer-btn-col-1">
                                <button class="btn">cancel</button>
                            </div>
                            <div class="col" id="footer-btn-col-2">
                                <button class="btn">Save</button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- edit button offcanva start  -->























        </div>
    </section>

    <section id="main-detail-section">
        <div class="row" id="main-detail-row">
            <div class="col" id="main-detail-col-1">
                <strong>Father name</strong>
                <p>B-praak</p>
            </div>
            <div class="col" id="main-detail-col-2">
                <strong>Supervising</strong>
                <p>Branch-A</p>
            </div>
            <div class="col" id="main-detail-col-3">
                <strong>Contact</strong>
                <p>+52 99 32 000</p>
            </div>
            <div class="col" id="main-detail-col-4">
                <strong>Socials</strong>
                <p>B-praak</p>
            </div>
        </div>
    </section>
</body>