<body>
    <!-- Header section start here -->
    <section id="header-section">
        <div class="row" id="header-row">
            <div class="col">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </div>
        </div>
    </section>
    <!-- Hero section start here -->
    <section id="hero-section">
        <div class="row" id="hero-section-row">
            <div class="col" id="hero-col-1">
                <div class="row">
                    <div class="col" id="hero-col-inner-1">
                        <i class="fa fa-circle-info" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"></i>
                    </div>


                    <div class="col" id="hero-col-inner-2">
                        <h1>Sup A</h1>
                        <p><i class="fas fa-location    "></i> Moosa Pind</p>
                    </div>
                </div>

            </div>
            <div class="col" id="hero-col-2">
                <img src="/assets/bussiness-man.png" alt="">
            </div>
        </div>




        <!-- Supervisor data offcanvas start here -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <!-- offcanvas header start-->
            <div class="offcanvas-body" id="teacher-offcanvas-body">
                <div class="supervisor-offcanvas-header">
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
                    </button>
                </div>
                <div class="row" id="teacher-offcanvas-row">
                    <div class="col">
                        <img src="/assets/bussiness-man.png" alt="">
                    </div>
                </div>
                <!-- offcanvas header ends-->

                <!-- offcanvas name details start -->
                <section id="name-section">
                    <div class="row" id="name-section-row">
                        <div class="col" id="name-section-col-1">
                            <h3>Supervisor</h3>
                            <strong>Stefan Garleson</strong>
                            <p>Stefan-bawa@hotmail.com</p>
                        </div>
                        <div class="col" id="name-section-col-2">
                            <i class="fa-solid fa-pen-nib"></i>
                        </div>
                    </div>
                </section>

                <section id="main-detail-section">
                    <div class="row" id="main-detail-row">
                        <div class="col" id="main-detail-col-1">
                            <strong>Father name</strong>
                            <p>B-praak</p>
                        </div>
                        <div class="col" id="main-detail-col-2">
                            <strong>Supervising</strong>
                            <p>Branch-A</p>
                        </div>
                        <div class="col" id="main-detail-col-3">
                            <strong>Contact</strong>
                            <p>+52 99 32 000</p>
                        </div>
                        <div class="col" id="main-detail-col-4">
                            <strong>Socials</strong>
                            <p>B-praak</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- Supervisor data offcanvas start here -->





    </section>

    <!-- Main content section styling start here -->
    <section id="main-section">

        <div class="row" id="main-sec-first-row">
            <div class="col" id="teacher-col">
                <div class="row" id="teacher-box-inner-row">
                    <div class="col" id="teacher-box-inner-col-1">
                        <i class="fa-solid fa-circle-info"></i>
                    </div>
                    <div class="col" id="teacher-box-inner-col-2">
                        <p>My Classes</p>
                        <strong>200+</strong>
                    </div>
                    <div class="col" id="teacher-box-inner-col-3">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col" id="message-board-col">
                <div class="row">
                    <div class="col" id="message-inner-col-1">
                        <strong>Messages</strong>
                    </div>
                    <div class="col" id="message-inner-col-2">
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="main-sec-second-row">
            <div class="col" id="branch-profile-col" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <div class="row">
                    <div class="col" id="branch-inner-col-1">
                        <strong>My Profile</strong>
                    </div>
                    <div class="col" id="branch-inner-col-2">
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </div>
            </div>





            <!-- Branch box offcanvas section start here -->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <div class="row" id="offcanvas-btn-row">
                        <div class="col" id="offcanvas-btn-col">
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close">
                            </button>
                        </div>
                    </div>

                </div>
                <div class="offcanvas-body">
                    <!-- profile data section start here -->
                    <section id="offcanvas-profile-sec">
                        <div class="row" id="offcanvas-profile-row">
                            <div class="col" id="offcanvas-profile-col-1">
                                <img src="/assets/school-building.png" alt="">
                            </div>
                            <div class="col" id="offcanvas-profile-col-2">
                                <strong>Sidhu Moose Wala</strong>
                            </div>
                        </div>
                    </section>

                    <!-- supervisor profile main section start here -->
                    <section id="offcanvas-main-section">
                        <div class="row" id="offcanvas-main-row">
                            <div class="col" id="offcanvas-main-col-1">
                                <h2>Supervisor name</h2>
                                <p>Drake</p>
                                <div></div>
                            </div>
                            <div class="col" id="offcanvas-main-col-2">
                                <h2>Address</h2>
                                <p>23 Crane Street, Bridgewater,ma, 2324 USA</p>
                                <div></div>
                            </div>
                            <div class="col" id="offcanvas-main-col-3">
                                <h2>City</h2>
                                <p>USA</p>
                                <div></div>
                            </div>
                            <div class="col" id="offcanvas-main-col-4">
                                <h2>Contact</h2>
                                <p>+51 22 333 888</p>
                                <div></div>
                            </div>
                        </div>

                    </section>
                </div>
            </div>

            <div class="col" id="student-col">
                <div class="row" id="student-inner-row">
                    <div class="col" id="student-inner-col-1">
                        <i class="fa-solid fa-circle-info"></i>
                    </div>
                    <div class="col" id="student-inner-row-2">
                        <p>Students</p>
                        <strong>1200+</strong>
                    </div>
                    <div class="col" id="student-inner-col-3">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>