@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
:host {
  --color-1: #bc9c00;
  --color: #586e6b;
  --box-color: #daf1d0;
  --main-family: "Rubik", sans-serif;
  --background-color: #d0efc4;
  --golden: #f1dd66;
  --half-green: #70c250;
  --font-color: #586a47;
}
body {
  background-color: #fff;
}
#parent-section {
  height: 100vh;
  background: linear-gradient(to top, #e0f6d6  21%, #bfe9ac  100%);
}
/* top back button styling start here */
#top-back-btn {
  max-width: 10vh;
}
#top-back-btn .col {
  position: relative;
  left: -19px;
  height: 5vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  font-size: 24px;
  color: var(--color);
}
/* top back button styling start here */

/* main img styling start here */
#main-img-row {
  position: absolute;
  left: 12px;
  max-width: 100%;
}
#main-img-row .col {
  display: flex;
  justify-content: center;
}
#main-img-row .col img {
  max-width: 89%;
}
/* main img styling start here */

/* Teacher name data section start here */
#teacher-info-row {
  position: absolute;
  top: 404px;
  right: 54px;
  left: 45px;
}

#teacher-info-col {
  display: grid;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
}
#teacher-info-col h2 {
  color: var(--color-1);
  font-size: 20px;
}
#teacher-info-col abbr {
  color: var(--color);
  font-size: 20px;
}
#teacher-info-col p {
  font-size: 15px;
  color: var(--color);
}
#teacher-btn-col {
  display: grid;
  justify-content: flex-end;
  align-content: center;
}
#teacher-btn-col button {
  text-decoration: none;
  color: aliceblue;
  background-color: var(--color-1);
  border-radius: 26px;
  height: 40px;
  line-height: 1px;
  width: 10vw;
}
/* add-student button offcanvas styling start here */
#offcanvasExample {
  background-color: var(--background-color);
}
.offcanvas-header .row .col {
  width: 100vw;
  height: 5vh;
  float: right;
  display: grid;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  font-size: 20px;
}
.offcanvas-header .row .col .btn {
  color: var(--font-color);
}
#hero-heading-row {
  height: 20vh;
}
#hero-heading-col {
  display: grid;
  justify-content: center;
  align-content: center;
  color: var(--font-color);
}

/* offcanvas accordians styling start here */
#panelsStayOpen-headingOne {
  padding: 10px;
  background-color: var(--background-color);
}
#panelsStayOpen-collapseOne {
  background-color: var(--background-color);
}
#first-accordion-btn {
  background-color: var(--font-color);
  color: var(--golden);
  font-size: 27px;
  border-radius: 8px;
  padding: 10px;
}
#first-accordion-form-row {
  padding: 5px;
  display: grid;
  grid-template-columns: 96vw;
  gap: 10px;
}
input[type="text"] {
  border-bottom: 1px solid var(--font-color);
  border-top: 0;
  border-right: 0;
  border-left: 0;
  background: none;
  outline: none;
  width: 85vw;
}
#first-accordion-col-1,
#first-accordion-col-2,
#first-accordion-col-3,
#first-accordion-col-4,
#first-accordion-col-5,
#first-accordion-col-6 {
  display: block;
  padding: 20px 8px 20px 15px;
  color: var(--font-color);
}
#panelsStayOpen-headingTwo {
  padding: 10px;
  background-color: var(--background-color);
}
#sec-accordion-btn {
  background-color: var(--font-color);
  color: var(--golden);
  font-size: 27px;
  border-radius: 8px;
  padding: 10px;
}
#sec-accordion-form-row {
  padding: 5px;
  display: grid;
  grid-template-columns: 96vw;
  background-color: var(--background-color);
  gap: 10px;
}
/* Teacher deatail row styling section start here */
#teacher-details-row {
  position: absolute;
  top: 514px;
  left: 11px;
  right: 16px;
  display: grid;
  grid-template-columns: 192px 193px;
  row-gap: 17px;
}
#teacher-details-col-1 {
  max-width: 90%;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 14vh;
  background: #c2e3b4;
  border-radius: 15px;
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; */
}
#teacher-details-col-1 h2 {
  font-size: 20px;
  color: var(--color);
}
#teacher-details-col-1 p {
  color: var(--color);
}
#teacher-details-col-2 {
  max-width: 90%;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 14vh;
  background: #c2e3b4;
  border-radius: 15px;
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; */
}
#teacher-details-col-2 h2 {
  font-size: 20px;
  color: var(--color);
}
#teacher-details-col-2 p {
  color: var(--color);
}
#teacher-details-col-3 {
  max-width: 90%;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 14vh;
  background: #c2e3b4;
  border-radius: 15px;
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; */
}
#teacher-details-col-3 h2 {
  font-size: 20px;
  color: var(--color);
}
#teacher-details-col-3 p {
  color: var(--color);
}
#teacher-details-col-4 {
  max-width: 90%;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 14vh;
  background: #c2e3b4;
  border-radius: 15px;
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; */
}
#teacher-details-col-4 h2 {
  font-size: 20px;
  color: var(--color);
}
#teacher-details-col-4 p {
  color: var(--color);
}
/*  footer button section styling start here */

#footer-btn-row {
  position: absolute;
  top: 788px;
  left: 11px;
  width: 94%;
}
#footer-btn-col {
  display: grid;
}
#footer-btn-col button {
  width: 100%;
  height: 5vh;
  font-size: 17px;
  font-weight: 600;
  color: var(--color);
  background-color: #c2e3b4;
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; */
}

/* footer button offcanvas section styling start here */
.offcanvas {
  height: 100vh;
  background-color: var(--box-color);
}
.offcanvas-header {
  display: flex;
  justify-content: end;
}
#btn-close {
  position: relative;
  top: 20px;
  right: 19px;
}
#profile-section {
  height: 101px;
  position: relative;
  top: 42px;
  left: 16px;
  width: 88vw;
}

#profile-img-row #profile-img-col-1 img {
  max-width: 20%;
  position: absolute;
  top: 7px;
}
#profile-img-row #profile-img-col-2 h1 {
  position: absolute;
  top: 53px;
  left: 110px;
  font-size: 22px;
  font-weight: 400;
  color: var(--color-1);
}
#profile-img-row #hr {
  border: 1px solid rgb(0, 0, 0);
  position: absolute;
  top: 75px;
  left: 5px;
  right: 0px;
  z-index: -1;
  width: 94vw;
}

#Guardain-detail-section {
  height: 42vh;
  position: relative;
  top: 55px;
}
#Guardain-detail-row {
  position: relative;
  left: 0px;
  right: 0px;
  display: grid;
  grid-template-columns: 100%;
  row-gap: 1rem;
  height: 100%;
}
/* Guardain-detail-col-1 - - - - - - - */
#Guardain-detail-col-1 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 90vw;
  left: 16px;
}
#Guardain-detail-col-1 .col {
  border-bottom: 1px solid var(--color);
  display: grid;
  flex-wrap: wrap;
  align-content: flex-end;
}
#Guardain-detail-col-1 .col h1 {
  font-size: 20px;
  color: var(--color);
}
#Guardain-detail-col-1 .col p {
  color: var(--color-1);
}
/* Guardain-detail-col-2 - - - - - - - */
#Guardain-detail-col-2 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 90vw;
  left: 16px;
}
#Guardain-detail-col-2 .col {
  border-bottom: 1px solid var(--color);
  display: grid;
  flex-wrap: wrap;
  align-content: flex-end;
}
#Guardain-detail-col-2 .col h1 {
  font-size: 20px;
  color: var(--color);
}
#Guardain-detail-col-2 .col p {
  color: var(--color-1);
}
/* Guardain-detail-col-3 - - - - - - - */
#Guardain-detail-col-3 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 90vw;
  left: 16px;
}
#Guardain-detail-col-3 .col {
  border-bottom: 1px solid var(--color);
  display: grid;
  flex-wrap: wrap;
  align-content: flex-end;
}
#Guardain-detail-col-3 .col h1 {
  font-size: 20px;
  color: var(--color);
}
#Guardain-detail-col-3 .col p {
  color: var(--color-1);
}
/* Guardain-detail-col-4 - - - - - - - */
#Guardain-detail-col-4 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 90vw;
  left: 16px;
}
#Guardain-detail-col-4 .col {
  border-bottom: 1px solid var(--color);
  display: grid;
  flex-wrap: wrap;
  align-content: flex-end;
}
#Guardain-detail-col-4 .col h1 {
  font-size: 20px;
  color: var(--color);
}
#Guardain-detail-col-4 .col p {
  color: var(--color-1);
}
/* footer img section styling start here  */
#footer-img-section {
  position: relative;
  top: 54px;
  height: 26vh;
}
#footer-img-row {
  position: relative;
  top: 47px;
  height: 100%;
}
#footer-img-row .col {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
#footer-img-row .col img {
  max-width: 65%;
}
