<body>
    <!-- Header section start here -->
    <section id="header-heading-sec">
        <div class="row" id="header-heading-row">
            <div class="col">
                <h1>Edit Your Profile</h1>
            </div>
        </div>
    </section>

    <!-- input-field section start here -->
    <section id="input-field-section">
        <form action="">
            <div class="row" id="input-field-row">
                <div class="col" id="name-col" >
                    <p>Name</p>
                    <input type="text">
                </div>
                <div class="col" id="name-col" >
                    <p>Email</p>
                    <input type="text">
                </div>
                <div class="col" id="address-col">
                    <p>Father name</p>
                    <input type="text">
                </div>
                <div class="col" id="city-col">
                    <p>Address</p>
                    <input type="text">
                </div>
                <div class="col" id="contact-col">
                    <p>Contact</p>
                    <input type="text">
                </div>
            </div>
        </form>
    </section>

    <section id="footer-btn-section">
        <div class="row" id="footer-btn-row">
            <div class="col" id="footer-btn-col-1">
                <button class="btn">cancel</button>
            </div>
            <div class="col" id="footer-btn-col-2">
                <button class="btn">Save</button>
            </div>
        </div>
    </section>
</body>

